.activation{

	float: left;
	position: absolute;

	width: 45%;

	top: 17%;
	bottom: 53%;

	padding-top: 5%;
	padding-right: 6px;
	padding-left: 6px;

	margin-left: 2%;
	margin-right: 1%;

	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
    font-size: 25px;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;

	text-decoration: none;
	text-align: center;

	background-color: white;
	opacity: 0.8;
}

.creation{
	float: right;
	position: absolute;

	width: 45%;

	top: 17%;
	bottom: 53%;
	left: 49%; 

	padding-top: 5%;
	padding-right: 6px;
	padding-left: 6px;

	margin-right: 2%;
	margin-left: 1%;

	font-family: Tahoma, Geneva, sans-serif;
    font-size: 25px;
    font-weight: bold;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;

	text-decoration: none;
	text-align: center;

	background-color: white;
	opacity: 0.8;
}

.modifier{
	float: left;
	position: absolute;

	width: 45%;

	top: 53%;
	bottom: 17%; 

	padding-top: 5%;
	padding-right: 6px;
	padding-left: 6px;

	margin-left: 2%;
	margin-right: 1%;

	font-family: Tahoma, Geneva, sans-serif;
	font-weight: bold;
    font-size: 25px;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;

	text-decoration: none;
	text-align: center;

	background-color: white;
	opacity: 0.8;
}

.suppression{
	float: right;
	position: absolute;

	width: 45%;

	bottom: 17%;
	top : 53%;
	left: 49%; 

	padding-top: 5%;
	padding-right: 6px;
	padding-left: 6px;

	margin-right: 2%;
	margin-left: 1%;

	font-family: Tahoma, Geneva, sans-serif;
    font-size: 25px;
    font-weight: bold;
	background:#f5f5f5;
	color:#555;
	border-radius:2px;
	border:1px solid #ccc;
	box-shadow:1px 1px 3px #999;

	text-decoration: none;
	text-align: center;

	background-color: white;
	opacity: 0.8;
}