.title{
	text-align: center;
	font-size: 16px;

}

.bouton{
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0.2pt;
    line-height: 1.8;
	padding:6px 2px 6px 2px;
	margin-right: 2px; 
	box-shadow:1px 1px 3px #999;
}

a{
	border-radius:12px 0 12px 0;
	background: #f5f5f5;
	border:none;
	color:#555;
	font:bold 12px Verdana;
	padding:6px 0 6px 0;
	box-shadow:1px 1px 3px #999;
	text-decoration: none;

}