html {
    background-image: url("../image/fond/UKflag.jpg");
    background-position: center;
  	background-repeat: no-repeat;
  	background-size: cover;
  	padding:0;
  	margin:0;
  	height:100%;

    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px;
    letter-spacing: 0.2pt;
    line-height: 1.8;

}

img {
  max-height: 50px;
}

input {
  max-height: 50px;
}
.header {
    background-color: white;
    position:fixed;
    height: 10%;
    top:0;
    left:0;
    right:0;
    opacity: 0.8;
}

.logoToeic{
  background-position: center;
	background-image: url(../image/logo/toeic.png);
	background-size: contain;
  background-repeat: no-repeat;
  text-align: center;
}

.footer {
	position : fixed;
    background-color: white;
    height: 8%;
    padding-top: 10px;
    padding-bottom: 10px;
    bottom:0;
    left:0;
    right:0;
    opacity: 0.8;
}

.logoIG{
	background-image: url(../image/logo/ig.jpg);
 	background-size: contain;
  background-repeat: no-repeat;
}

.logoPopo{
	background-image: url(../image/logo/polytech.png);
  background-size: contain;
  background-repeat: no-repeat;
}

.identification {
  	text-align: center;
}

.content {
  position: fixed;
	background-color: white;

 	padding: 20px;
  padding-left: 60px;
  max-height: 55%;
	width: 75%;


  margin-top: 7%;
	margin-bottom: 5%;
  margin-left: 5%;
	margin-right: 5%;
  border-radius: 10px;
	opacity: 0.8;

  overflow: auto;
}

h3{
  text-align: center;
  font-size: 16px;

}