h2{
    margin-left: 45%;
}
.contents {
    float: left;
    width: 60%;
    color:black;
    margin:1%;
    margin-top: 0%;
    margin-left: 0%;
    margin-right: 5%;
    padding: 1%;
    padding-top: 0%;
    border-radius : 8px 8px 8px 8px;
    font-size: large;
}

.img{
    width : 20%;
    margin-top:6%;
}

.title{
    float: left;
    padding: 0 5px;
    margin: -20px 0 0 30px;
    background: #fff;
}

input[type=button]{
    margin-left: 25%;
    border-radius:12px 0 12px 0;
    background: #f5f5f5;
    border:none;
    color:#555;
    font:bold 12px Verdana;
    padding:6px 0 6px 0;
    box-shadow:1px 1px 3px #999;
    width: 50%;
}