.rightCol {
    float: left;
    width: 42%;

    color:black;

    margin-left: 0%;
    margin-right: 5%;

    padding: 1%;

    border-radius : 8px 8px 8px 8px;
    font-size: large;
    line-height: 0;
}

.leftCol{
    float: left;
    width: 42%;

    color:black;

    margin-left: 0%;
    margin-right: 5%;
    padding: 1%;
    
    border-radius : 8px 8px 8px 8px;
    font-size: large;
    line-height: 0;
}

a{
    border-radius:12px 0 12px 0;
  background: #f5f5f5;
  border:none;
  color:#555;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2pt;
  line-height: 1.8;
  padding:6px 2px 6px 2px;
  margin-right: 2px; 
  box-shadow:1px 1px 3px #999;
    text-decoration: none;
}

.centrage{
    float: left;
    position: absolute;
    top: 75%;
    left: 45%;
}